In [2]:
import pandas as pd
import numpy as np

## Ejercicio 1
Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [ ]:
inicio = 1995
fin = 2023
ventas = {} #Se guardan los datos en un diccionario y se pasa a pandas
cantidad = 0
for año in range(inicio, fin+1):
    cantidad += (100+10)
    descuento = (cantidad-cantidad*0.10)
    ventas[año] = descuento
tabla = pd.Series(ventas) #pasamos a serie
df = pd.DataFrame(tabla) #pasamos a datafranme
df.tail(10)

           0
2014  1980.0
2015  2079.0
2016  2178.0
2017  2277.0
2018  2376.0
2019  2475.0
2020  2574.0
2021  2673.0
2022  2772.0
2023  2871.0

## Ejercicio 2
Escribir una función que reciba un diccionario con las notas de los alumno de un curso y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [ ]:
def notas(alumnos: dict):
    tabla = pd.DataFrame.from_dict(alumnos, orient='index')
    minima = tabla.min()
    maxima = tabla.max()
    media = tabla.mean()
    desviacion = tabla.std()
    serie = pd.concat([minima, maxima, media, desviacion], axis=1)
    serie.columns = ['Min', 'Max', 'Mean', 'Std']
    return serie.squeeze() #lo convierte en una serie

In [ ]:
notas_alumnos = {'pepe': 6, 'ana': 8, 'rodolfo': 3, 'javi': 10, 'andres': 7}

In [ ]:
notas(notas_alumnos)

Min      3.000000
Max     10.000000
Mean     6.800000
Std      2.588436
Name: 0, dtype: float64

## Ejercicio 3
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [ ]:
def notasAprobadasOrdenadas(alumnos: dict):
    tabla = pd.DataFrame.from_dict(alumnos, orient='index', columns = ['Notas'])
    #tabla['Alumnos'] = tabla.index
    #tabla = tabla[['Alumnos', 'Notas']] 
    #tabla.index = range(1, len(tabla) + 1)  # Establecer índice numérico
    return tabla[tabla['Notas']>=5].sort_values(by='Notas', ascending=False).squeeze()

In [ ]:
notasAprobadasOrdenadas(notas_alumnos)

javi      10
ana        8
andres     7
pepe       6
Name: Notas, dtype: int64

## Ejercicio 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:

In [ ]:
meses = []
ventas = []
gastos = []

for dato in range(4):
    mes = input('Introduce el mes: ')
    venta = int(input('Introduce la venta: '))
    gasto = int(input('Introduce el gasto: '))
    meses.append(mes)
    ventas.append(venta)
    gastos.append(gasto)

In [ ]:
meses

['enero', 'febrero', 'marzo', 'abril']

In [ ]:
ventas

[30500, 35600, 28300, 33900]

In [ ]:
gastos

[22000, 23400, 18100, 20700]

In [ ]:
resultados = pd.DataFrame(data={'Mes': meses, 'Ventas': ventas, 'Gastos': gastos})
resultados

       Mes  Ventas  Gastos
0    enero   30500   22000
1  febrero   35600   23400
2    marzo   28300   18100
3    abril   33900   20700

## Ejercicio 5
Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [ ]:
def balance(resultados, meses):
    resultados['Balance'] = resultados['Ventas'] - resultados['Gastos']
    return resultados[resultados['Mes'].isin(meses)]['Balance'].sum() # Usamos isin para comprobar campos en listas

In [ ]:
balance(resultados, ['enero', 'febrero'])

20700

## Ejercicio 6
El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: 
- nombre (nombre de la empresa), 
- Final (precio de la acción al cierre de bolsa), 
- Máximo (precio máximo de la acción durante la jornada), 
- Mínimo (precio mínimo de la acción durante la jornada), 
- volumen (Volumen al cierre de bolsa), 
- Efectivo (capitalización al cierre en miles de euros). 

Construir una función que construya un DataFrame a partir del fichero con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [37]:
cotizaciones = pd.read_csv('cotizacion.csv', sep=';', decimal=',', thousands='.', index_col=0)
cotizaciones

                   Final      Máximo      Mínimo   Volumen   Efectivo
Nombre
ACCIONA          95.9500     96.7500     94.4000     84962    8166.11
ACERINOX       8668.0000   8672.0000   8468.0000     88599    7633.81
ACS              37.2800     37.6600     37.2200    655982   24517.29
AENA            167.1000    167.5000    166.1000    133738   22336.10
AMADEUS          69.9600     70.6400     69.5600    640476   44795.47
ARCELORMIT.   14152.0000  14318.0000     14.0800    702841    9989.65
BA.SABADELL       1.0165   1033.0000      1.0165  12358512   12637.65
BA.SANTANDER      4.0200      4.0675      4.0100  36129692  145765.44
BANKIA         2249.0000   2262.0000   2224.0000   3024454    6803.54
BANKINTER         6.5600   6604.0000   6522.0000   1375976    9030.20
BBVA           5024.0000      5.0500   4969.0000  26447612  132560.15
CAIXABANK      2763.0000   2806.0000   2762.0000  13031097   36239.22
CELLNEX          30.1700     30.7000     30.1700    857237   25965.29
CIE AUTOMOT.     23.4400     23.7400     23.4000     99506    2343.09
ENAGAS           25.6000     25.6600     25.0700     84254   21524.77
ENCE           3882.0000   3974.0000   3846.0000   2099698    8219.83
ENDESA           22.9500     23.0300     22.6200   1236799   28233.46
FERROVIAL        21.6100     21.7200     21.3800   2065931   44656.05
GRIFOLS CL.A     23.3000     23.6000     23.2700    719503   16787.55
IAG               5.3000      5.4600   5292.0000   2155081   11561.95
IBERDROLA         8.4500      8.4500   8262.0000  15637958  131426.05
INDITEX          24.9300     25.1900     24.8700   2600144   65012.92
INDRA A           9.5600   9685.0000   9535.0000     39206    3755.57
INM.COLONIAL   9915.0000   9915.0000   9745.0000    671753    6640.38
MAPFRE         2654.0000   2654.0000      2.6200   3045972    8063.13
MEDIASET       6446.0000   6592.0000   6446.0000   2647557   17277.04
MELIA HOTELS      8.1400      8.1900      8.0200     48021    3914.93
MERLIN           12.0800     12.0800     11.8300    777543    9357.77
NATURGY          26.7000     26.7700     26.5300   2100737   55986.54
R.E.C.        19705.0000  19875.0000  19675.0000   1246171   24585.33
REPSOL        14515.0000  14605.0000     14.4600   5046648   73333.78
SIEMENS GAME     14.3300     14.3900  14155.0000   1054847   15084.56
TEC.REUNIDAS     23.0000     23.2000     22.7800      1221    2807.19
TELEFONICA     7204.0000   7256.0000   7185.0000   9913249   71564.99
VISCOFAN         48.4600     49.1200     48.4600      6771    3295.43

In [38]:
cotizaciones.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, ACCIONA to VISCOFAN
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Final     35 non-null     float64
 1   Máximo    35 non-null     float64
 2   Mínimo    35 non-null     float64
 3   Volumen   35 non-null     int64
 4   Efectivo  35 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 1.6+ KB

In [39]:
# Reemplazar comas por puntos en las columnas y convertirlas manualmente a float

#cotizaciones['Final'] = cotizaciones['Final'].str.replace(',', '.').str.replace('.', '')
#cotizaciones['Máximo'] = cotizaciones['Máximo'].str.replace(',', '.').str.replace('.', '')
#cotizaciones['Mínimo'] = cotizaciones['Mínimo'].str.replace(',', '.').str.replace('.', '')
#cotizaciones['Volumen'] = cotizaciones['Volumen'].str.replace(',', '.').str.replace('.', '')
#cotizaciones['Efectivo'] = cotizaciones['Efectivo'].str.replace(',', '.').str.replace('.', '')
#columnas_a_convertir = ['Final', 'Máximo', 'Mínimo', 'Volumen', 'Efectivo']
#cotizaciones[columnas_a_convertir] = cotizaciones[columnas_a_convertir].astype(float)

In [40]:
cotizaciones.describe()

              Final        Máximo        Mínimo       Volumen       Efectivo
count     35.000000     35.000000     35.000000  3.500000e+01      35.000000
mean    2796.768757   3170.113357   3136.510471  4.252279e+06   31767.778000
std     5007.267143   5160.834249   4804.485259  7.901060e+06   38100.607064
min        1.016500      4.067500      1.016500  1.221000e+03    2343.090000
25%       17.970000     23.115000     22.700000  3.871070e+05    8114.620000
50%       30.170000     49.120000     48.460000  1.236799e+06   16787.550000
75%     3322.500000   5283.000000   5869.000000  2.836006e+06   40447.635000
max    19705.000000  19875.000000  19675.000000  3.612969e+07  145765.440000