# Ex1 - Filtrar y ordenar datos


### Paso 1. Importar las bibliotecas necesarias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Importa el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y asígnalos a una variable llamada chipo.

In [3]:
# Leer el archivo TSV y guardarlo como CSV
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Paso 3. Nombre del producto de valor máximo

In [35]:
# Convertir la columna 'item_price' a tipo numérico
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)

# Filtrar el DataFrame para incluir solo las filas donde el precio es mayor que $10
max_price = chipo['item_price'].max()

max_price_item_name = chipo.loc[chipo['item_price'] == max_price, 'item_name']

max_price_item_name

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

### Paso 4. ¿Cuántos productos cuestan más de 10 dólares?

In [36]:
ser = chipo['item_name'].where(chipo['item_price']>10).count()
ser

1130

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [59]:
# Convertir la columna 'item_price' a tipo numérico
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)

# Filtrar el DataFrame para incluir solo las filas donde el precio es mayor que $10
expensive_orders = chipo[chipo['item_price'] > 10]

# Contar el número de pedidos
num_expensive_orders = len(expensive_orders['order_id'].unique())

num_expensive_orders

863

### Paso 5. ¿Cuál es el precio de cada artículo? Obtenga sólo item_name y unit_price

In [4]:
ser2 = chipo.groupby('item_price')['item_name'].unique()
ser2.head(15)

item_price
$1.09                           [Canned Soda, Bottled Water]
$1.25                                    [Canned Soft Drink]
$1.50                                        [Bottled Water]
$1.69                                        [Side of Chips]
$1.99                                                [Chips]
$10.50                                       [Bottled Water]
$10.58                       [Chicken Burrito, Chicken Bowl]
$10.98     [Chicken Bowl, Chicken Burrito, Chicken Salad,...
$11.08     [Steak Burrito, Carnitas Bowl, Steak Bowl, Bar...
$11.25     [Chicken Bowl, Veggie Burrito, Veggie Bowl, Ch...
$11.48     [Steak Burrito, Carnitas Bowl, Steak Bowl, Bar...
$11.49                                       [Barbacoa Bowl]
$11.75     [Steak Burrito, Barbacoa Bowl, Steak Bowl, Car...
$11.80                        [Chips and Fresh Tomato Salsa]
$11.89     [Steak Salad Bowl, Carnitas Salad Bowl, Barbac...
Name: item_name, dtype: object

### Paso 6. Ordenar por el nombre del artículo

In [31]:
ser3 = chipo.sort_values(by='item_name').reset_index(drop=True)

ser3

,order_id,quantity,item_name,choice_description,item_price
0,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
1,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
2,749,1,6 Pack Soft Drink,[Coke],$6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
4,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Paso 7. ¿Cuál fue la cantidad del artículo más caro pedido? 2 formas

In [37]:
ser4 = chipo.loc[chipo['item_price'] == max_price, 'quantity']
ser4

3598    15
Name: quantity, dtype: int64

In [82]:
# Convertir la columna 'item_price' a tipo numérico
chipo['item_price'] = chipo['item_price'].replace('[\$,]', '', regex=True).astype(float)

# Encontrar el índice del artículo más caro
idx_max_price = chipo['item_price'].idxmax()

# Obtener la cantidad del artículo más caro
quantity_of_most_expensive_item = chipo.loc[idx_max_price, 'quantity']

quantity_of_most_expensive_item

15

### Paso 8. ¿Cuántas veces se pidió una Veggie Salad Bowl?

In [76]:
ser5 = chipo['quantity'].where(chipo['item_name']=='Veggie Salad Bowl').sum()
ser5

18.0

### Paso 9. ¿Cuántas veces pidió alguien más de un Canned Soda?

Extra

In [ ]:
# 1º Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
# 2º Agrupar las orders y canned sodas sumando las cantitades totales .groupby(['order_id','item_name'], as_index= False)
# 3º Quiero sumar solo la columna de quantity [['quantity']].sum()

In [89]:
# Filtrar con una máscara: chipo[chipo["item_name"] == "Canned Soda"]
canned_soda = chipo[chipo['item_name'] == 'Canned Soda']

# Filtrar las filas con cantidad mayor a 1
soda_mas_uno = canned_soda[canned_soda['quantity'] > 1]

# Contar el número de veces que alguien pidió más de uno
num_ordenes = len(soda_mas_uno['order_id'].unique())

num_ordenes

18