In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Ejercicio de CAMPEONES

Carga el archivo `detalles.csv` en un dataframe de pandas.

Dentro de la columna `number_of_observations_food` se encuentra un listado de elementos. Esto se puede entender como que dentro tiene un Dataframe. 

Tu objetivo es hacer que el contenido de este campo se conviertan en columnas del dataframe. 

Ejemplo: La primera fila tiene dentro de esa columna los valores `'bread: 2318, rice: 2701, wheat: 2682'`. Tu dataframe ahora tendrá 3 columnas más, y rellenar los valores correspondientes de cada fila en cada columna.

In [3]:
df = pd.read_csv('./data/detalles.csv')
df.head(5)

,country,iso3,components,currency,start_date_observations,end_date_observations,number_of_markets_modeled,number_of_markets_covered,number_of_food_items,number_of_observations_food,...,total_food_price_increase_since_start_date,average_annualized_food_inflation,maximum_food_drawdown,average_annualized_food_volatility,average_monthly_food_price_correlation_between_markets,average_annual_food_price_correlation_between_markets,Rsquared_individual_food_items,Rsquared_individual_other_items,index_confidence_score,imputation_model
0,Afghanistan,AFG,"Bread (1 KG, Index Weight = 1), Rice (Low Qual...",AFN,Jan 2007,Sep 2023,40,40,3,"bread: 2318, rice: 2701, wheat: 2682",...,167.97%,6.06%,-40.67%,7.93%,0.62,0.87,"bread: 0.94, rice: 0.89, wheat: 0.93","exchange_rate_wfp: 1, fuel_diesel: 0.97, wage_...",0.92,"bread: cubist (Andree, 2021), rice: two-stage ..."
1,Burundi,BDI,"Bananas (1 KG, Index Weight = 1), Beans (1 KG,...",BIF,Jan 2007,Aug 2023,72,72,10,"bananas: 5344, beans: 5963, cassava_flour: 594...",...,254.94%,7.86%,-30.77%,12.03%,0.60,0.83,"bananas: 0.88, beans: 0.9, cassava_flour: 0.89...",:,0.90,"bananas: two-stage cubist (Andree and Pape, 20..."
2,Burkina Faso,BFA,"Maize (White) (1 KG, Index Weight = 1), Millet...",XOF,Jan 2007,Jul 2023,64,64,3,"maize: 6615, millet: 7618, sorghum: 7177",...,201.25%,6.81%,-36.7%,13.71%,0.57,0.80,"maize: 0.84, millet: 0.83, sorghum: 0.81",:,0.83,"maize: cubist (Andree, 2021), millet: cubist (..."
3,Central African Republic,CAF,"Cassava (Cossette) (1 KG, Index Weight = 1), M...",XAF,Jan 2007,Jun 2023,42,42,5,"cassava: 2259, maize: 2025, meat_beef: 2147, o...",...,134.62%,5.22%,-24.85%,13.74%,0.39,0.59,"cassava: 0.89, maize: 0.88, meat_beef: 0.95, o...",:,0.89,"cassava: cubist (Andree, 2021), maize: cubist ..."
4,Cameroon,CMR,"Bananas (12 KG, Index Weight = 0.08), Cassava ...",XAF,Apr 2010,Aug 2023,83,83,10,"bananas: 621, cassava: 624, cocoyam: 624, fish...",...,39.02%,2.47%,-2.79%,1.84%,0.25,0.67,"bananas: 0.96, cassava: 0.96, cocoyam: 0.98, f...",:,0.98,"bananas: two-stage cubist (Andree and Pape, 20..."

In [4]:
df['number_of_observations_food']

0                  bread: 2318, rice: 2701, wheat: 2682
1     bananas: 5344, beans: 5963, cassava_flour: 594...
2              maize: 6615, millet: 7618, sorghum: 7177
3     cassava: 2259, maize: 2025, meat_beef: 2147, o...
4     bananas: 621, cassava: 624, cocoyam: 624, fish...
5     beans: 3310, cassava: 2665, cassava_flour: 325...
6     beans: 643, cassava_flour: 564, oil: 484, rice...
7     apples: 1556, bananas: 1672, beans: 1668, brea...
8     millet: 1011, oil: 1822, rice: 1811, sorghum: ...
9     beans: 1166, maize_meal: 1727, oil: 1058, past...
10    beans: 1397, bread: 2230, cheese: 1349, dates:...
11    eggs: 1800, fish_catfish: 1712, fish_tilapia: ...
12    beans: 2927, bread: 2767, bulgur: 2937, cabbag...
13    cassava: 1336, cowpeas: 1396, oil: 1872, rice:...
14    beans: 7511, maize: 9990, millet: 13695, rice:...
15                 pulses: 5466, rice: 7818, salt: 7126
16    cowpeas: 3669, maize: 4230, maize_meal: 3158, ...
17           millet: 11754, rice: 11071, sorghum: 10644
18    cassava_meal: 1255, cowpeas: 1536, gari: 1430,...
19    millet: 2133, sorghum: 1662, sorghum_food_aid:...
20    maize: 2444, milk: 744, oil: 819, rice: 2558, ...
21    beans: 2067, cassava: 534, groundnuts: 1569, m...
22    apples: 3631, bananas: 3479, beans: 4117, brea...
23    maize: 2885, millet: 4683, rice: 2096, sorghum...
24    beans: 2295, eggs: 2239, lentils: 2211, millet...
Name: number_of_observations_food, dtype: object

In [5]:
def parser(diccionario_df):
    diccionario_parseado = {}
    elementos = diccionario_df.split(',')
    for elemento in elementos:
        elemento = elementos.split(':')
        diccionario_parseado[elemento[0]]= elemento[1]
    return diccionario_parseado

In [6]:

# Crear un DataFrame vacío para almacenar los resultados
resultados = pd.DataFrame()

for fila in range(0, 25):
    diccionario = df['number_of_observations_food'][fila]
    diccionario_parseado = {}
    elementos = diccionario.split(',')
    for elemento in elementos:
        clave, valor = elemento.split(':')
        diccionario_parseado[clave.strip()] = int(valor.strip())
    
    # Crear un DataFrame temporal con el diccionario parseado
    ingredientes = pd.DataFrame(data=[diccionario_parseado])
    
    # Concatenar el DataFrame temporal al DataFrame de resultados
    resultados = pd.concat([resultados, ingredientes], ignore_index=True)

# Concatenar los resultados al DataFrame original
df = pd.concat([df, resultados], axis=1)


df.head(5)

,country,iso3,components,currency,start_date_observations,end_date_observations,number_of_markets_modeled,number_of_markets_covered,number_of_food_items,number_of_observations_food,...,cassava_meal,gari,sorghum_food_aid,sesame,eggplants,meat_beef_minced,meat_chicken_plucked,parsley,yogurt,peas
0,Afghanistan,AFG,"Bread (1 KG, Index Weight = 1), Rice (Low Qual...",AFN,Jan 2007,Sep 2023,40,40,3,"bread: 2318, rice: 2701, wheat: 2682",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Burundi,BDI,"Bananas (1 KG, Index Weight = 1), Beans (1 KG,...",BIF,Jan 2007,Aug 2023,72,72,10,"bananas: 5344, beans: 5963, cassava_flour: 594...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Burkina Faso,BFA,"Maize (White) (1 KG, Index Weight = 1), Millet...",XOF,Jan 2007,Jul 2023,64,64,3,"maize: 6615, millet: 7618, sorghum: 7177",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Central African Republic,CAF,"Cassava (Cossette) (1 KG, Index Weight = 1), M...",XAF,Jan 2007,Jun 2023,42,42,5,"cassava: 2259, maize: 2025, meat_beef: 2147, o...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cameroon,CMR,"Bananas (12 KG, Index Weight = 0.08), Cassava ...",XAF,Apr 2010,Aug 2023,83,83,10,"bananas: 621, cassava: 624, cocoyam: 624, fish...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
fila_1 = {'bread': 2318, 'rice': 2701, 'wheat': 2682}
fila_2 = {'bananas': 5344, 'beans': 5963, 'cassava_flour': 5944, 'maize': 5567, 'maize_flour': 5122, 'meat_goat': 5106, 'onions': 5470, 'potatoes': 5942, 'rice': 5728, 'tomatoes': 5432}
fila_3 = {'maize': 6615, 'millet': 7618, 'sorghum': 7177}
fila_4 = {'bananas': 621, 'cassava': 624, 'cocoyam': 624, 'fish_mackerel': 1518, 'maize': 1305, 'meat_beef': 1959, 'oil': 1670, 'rice': 1962, 'sorghum': 618, 'wheat_flour': 1062}
fila_5 = {'beans': 3310, 'cassava': 2665, 'cassava_flour': 3258, 'fish': 2664, 'fish_salted': 2500, 'fish_smoked': 2443, 'maize': 3161, 'maize_meal': 2872, 'meat_beef': 2387, 'meat_chicken': 1545, 'meat_goat': 2466, 'oil': 3464, 'plantains': 2777, 'rice': 3029, 'salt': 2890, 'sugar': 2958, 'wheat_flour': 1831}
fila_6 = {'beans': 643, 'cassava_flour': 564, 'oil': 484, 'rice': 661}
fila_7 = {'apples': 1556, 'bananas': 1672, 'beans': 1668, 'bread': 1588, 'cabbage': 1672, 'carrots': 1679, 'cassava': 1381, 'coffee_instant': 1066, 'eggs': 1619, 'fish: 1638', 'garlic': 1585, 'groundnuts': 2989, 'maize': 1562, 'meat_beef': 1631, 'meat_chicken': 1560, 'milk': 1636, 'millet': 2867, 'oil': 1675, 'onions': 1668, 'oranges': 1448, 'potatoes': 1600, 'rice': 3337, 'salt': 1662, 'sugar': 1671, 'tea': 1612, 'tomatoes': 1666}
ingredientes = pd.DataFrame(data=[fila_1, fila_2, fila_3, fila_4, fila_5, fila_6, fila_7])
df.join(ingredientes)

,country,iso3,components,currency,start_date_observations,end_date_observations,number_of_markets_modeled,number_of_markets_covered,number_of_food_items,number_of_observations_food,...,oil,wheat_flour,fish,fish_salted,fish_smoked,maize_meal,meat_chicken,plantains,salt,sugar
0,Afghanistan,AFG,"Bread (1 KG, Index Weight = 1), Rice (Low Qual...",AFN,Jan 2007,Sep 2023,40,40,3,"bread: 2318, rice: 2701, wheat: 2682",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Burundi,BDI,"Bananas (1 KG, Index Weight = 1), Beans (1 KG,...",BIF,Jan 2007,Aug 2023,72,72,10,"bananas: 5344, beans: 5963, cassava_flour: 594...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Burkina Faso,BFA,"Maize (White) (1 KG, Index Weight = 1), Millet...",XOF,Jan 2007,Jul 2023,64,64,3,"maize: 6615, millet: 7618, sorghum: 7177",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Central African Republic,CAF,"Cassava (Cossette) (1 KG, Index Weight = 1), M...",XAF,Jan 2007,Jun 2023,42,42,5,"cassava: 2259, maize: 2025, meat_beef: 2147, o...",...,1670.0,1062.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cameroon,CMR,"Bananas (12 KG, Index Weight = 0.08), Cassava ...",XAF,Apr 2010,Aug 2023,83,83,10,"bananas: 621, cassava: 624, cocoyam: 624, fish...",...,3464.0,1831.0,2664.0,2500.0,2443.0,2872.0,1545.0,2777.0,2890.0,2958.0
5,"Congo, Dem. Rep.",COD,"Beans (1 KG, Index Weight = 1), Cassava (Cosse...",CDF,Jan 2007,Jan 2023,86,86,17,"beans: 3310, cassava: 2665, cassava_flour: 325...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"Congo, Rep.",COG,"Beans (White) (1 KG, Index Weight = 1), Cassav...",XAF,Jan 2011,Apr 2022,13,13,4,"beans: 643, cassava_flour: 564, oil: 484, rice...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Gambia, The",GMB,"Apples (Red) (1 KG, Index Weight = 1), Bananas...",GMD,Jan 2007,Jul 2023,28,28,26,"apples: 1556, bananas: 1672, beans: 1668, brea...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Guinea-Bissau,GNB,"Millet (1 KG, Index Weight = 1), Oil (Vegetabl...",XOF,Jun 2007,Aug 2023,45,45,5,"millet: 1011, oil: 1822, rice: 1811, sorghum: ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Haiti,HTI,"Beans (Black) (1 Marmite, Index Weight = 0.37)...",HTG,Jan 2007,Jun 2023,9,9,8,"beans: 1166, maize_meal: 1727, oil: 1058, past...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Iraq,IRQ,"Beans (White) (1 KG, Index Weight = 1), Bread ...",IQD,Jan 2012,Sep 2023,20,20,18,"beans: 1397, bread: 2230, cheese: 1349, dates:...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Lao PDR,LAO,"Eggs (1 Unit, Index Weight = 12), Fish (Catfis...",LAK,Feb 2009,Jul 2023,17,17,11,"eggs: 1800, fish_catfish: 1712, fish_tilapia: ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Lebanon,LBN,"Beans (White) (1 KG, Index Weight = 1), Bread ...",LBP,Jan 2012,Aug 2023,27,27,22,"beans: 2927, bread: 2767, bulgur: 2937, cabbag...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Liberia,LBR,"Cassava (Fresh) (50 KG, Index Weight = 0.02), ...",LRD,Jan 2007,Aug 2020,24,24,4,"cassava: 1336, cowpeas: 1396, oil: 1872, rice:...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Mali,MLI,"Beans (Niebe) (1 KG, Index Weight = 1), Maize ...",XOF,Jan 2007,Jun 2023,127,127,5,"beans: 7511, maize: 9990, millet: 13695, rice:...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Myanmar,MMR,"Pulses (1 KG, Index Weight = 1), Rice (Low Qua...",MMK,Jan 2008,Aug 2023,228,228,3,"pulses: 5466, rice: 7818, salt: 7126",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Mozambique,MOZ,"Cowpeas (1 KG, Index Weight = 1), Maize (White...",MZN,Jan 2007,Feb 2023,99,99,7,"cowpeas: 3669, maize: 4230, maize_meal: 3158, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Niger,NER,"Millet (1 KG, Index Weight = 1), Rice (Importe...",XOF,Jan 2007,Jul 2023,79,79,3,"millet: 11754, rice: 11071, sorghum: 10644",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Nigeria,NGA,"Cassava Meal (Gari, Yellow) (100 KG, Index Wei...",NGN,Jan 2007,Jan 2023,35,35,8,"cassava_meal: 1255, cowpeas: 1536, gari: 1430,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Sudan,SDN,"Millet (3.5 KG, Index Weight = 0.29), Sorghum ...",SDG,Jan 2007,Aug 2023,17,17,4,"millet: 2133, sorghum: 1662, sorghum_food_aid:...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Somalia,SOM,"Maize (White) (1 KG, Index Weight = 1), Milk (...",SOS,Jan 2007,Jul 2023,44,44,5,"maize: 2444, milk: 744, oil: 819, rice: 2558, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,South Sudan,SSD,"Beans (Red) (1 KG, Index Weight = 1), Cassava ...",SSP,Jan 2007,Aug 2023,30,30,9,"beans: 2067, cassava: 534, groundnuts: 1569, m...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Syrian Arab Republic,SYR,"Apples (1 KG, Index Weight = 1), Bananas (1 KG...",SYP,Feb 2011,Jul 2023,97,97,24,"apples: 3631, bananas: 3479, beans: 4117, brea...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Chad,TCD,"Maize (White) (1 KG, Index Weight = 1), Millet...",XAF,Jan 2007,Aug 2023,62,62,4,"maize: 2885, millet: 4683, rice: 2096, sorghum...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Yemen, Rep.",YEM,"Beans (Kidney Red) (1 KG, Index Weight = 1), E...",YER,Jan 2009,Jul 2023,24,24,15,"beans: 2295, eggs: 2239, lentils: 2211, millet...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN